@import 'base';

.intro-section {
    margin: 72px 0;
    text-align: center;

    .intro-section__heading {
        margin-bottom: 40px;
        font-size: 28px;
        .calloutText {
            color: $primary-color;
        }
    }
    .intro-section__sub-heading {
        font-size: 1rem;
        line-height: 1.75;
    }
}

.product-card {
    border: 1px solid #d8d9da;
    background-color: #ffffff;
    margin-bottom: 24px;
    display: block;
}

.product-summary {
    padding: 32px;

    .product-summary__cta-column {
        padding-right: 36px;

        @include screen--phone {
            padding-right: 0;
        }
    }

    .product-summary__cta-button {
        .callout-button {
            width: 100%;
        }
        margin-bottom: 8px;
    }

    .product-summary__muted-cta-text {
        color: $grey-2;
        text-align: center;
        font-size: 0.8125rem;
    }

    .product-summary__text-column {
    }

    .product-summary__heading {
        font-size: 24px;
        margin: 8px 0;
    }

    .product-summary__keypoint-list {
        padding-left: 0;
        margin-left: 16px;
    }

    .product-summary__rating {
        margin-top: 0;
    }

    .product-summary__star-rating {
        margin-left: 8px;
    }
}

.product-key-details {
    padding: 16px;
    background-color: #f5f5f5;

    .product-key-details__column {
        padding: 16px;
    }

    .product-key-details__heading {
        @extend .wide-text;
        text-transform: uppercase;
        font-family: $gotham600;
        font-size: 0.8125rem;
        margin: 0;
        margin-bottom: 1rem;

        &.product-key-details__heading--interest-rate {
            color: $primary-color;
        }
    }

    .product-key-details__text {
        font-size: 0.8125rem;
        line-height: 1.5;
        margin: 0;
        margin-bottom: 6px;
    }

    .product-key-details__rate {
        float: right;
        color: $primary-color;
    }
}
