.wide-text {
    letter-spacing: 0.0625em;
}

.nav-button {
    @extend .wide-text;
    font-family: $gotham400;
    background-color: $primary-color;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0.125rem;
    border: none;
    color: white;
    padding: 6px 16px;

    &:hover {
        background-color: $primary-color-1;
    }
}

.callout-button {
    @extend .wide-text;
    text-transform: uppercase;
    font-family: $gotham600;
    font-size: 0.8125rem;
    cursor: pointer;
    border-radius: 0.125rem;

    &.callout-button--primary {
        border: none;
        background-color: $primary-color;
        color: white;
        padding: 16px;

        &:hover {
            background-color: $primary-color-1;
        }
    }
}

.link-button {
    font-family: $gotham400;
    border: none;
    background-color: transparent;
    color: $blue-2;
    cursor: pointer;
    font-size: inherit;
    padding: 0;

    &.link-button--read-more {
        @extend .wide-text;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-family: $gotham600;
    }

    &:hover {
        text-decoration: underline;
    }
}

.block-btn {
    width: 100%;
    text-align: center;
    display: block !important;
}

