.footer {
    background-color: $grey-3;
    flex-shrink: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    @include screen--mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-content__links {
        font-size: 0.8125rem;
        line-height: 1.5;
        @include screen--mobile {
            padding-bottom: 24px;
            text-align: center;
        }
        div {
            margin-bottom: 0.5rem;
        }
    }
    .footer-content__disclaimer-text {
        margin: 0;
        font-size: 12px;
    }
    .footer-content__brand-container {
        padding-top: 24px;
        display: flex;
    }
    .footer-content__brand-img {
        padding-right: 12px;
        img {
            height: 40px;
        }
    }
    .footer-content__brand-text {
        line-height: 1.5;
        font-size: 12px;
    }
    .footer-content__affiliate-img {
        line-height: 1.5;
        font-size: 12px;
        padding-left: 40px;
        img {
            height: 20px;
        }
    }
    .footer-content__brand-legal-links {

    }
}
