.footer {
    background-color: $grey-3;
    .footer__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 32px;

        @include screen--mobile {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.nav-logo {
    height: 50px;
    .nav-logo__wide {
        height: 50px;
        @include screen--mobile {
            display: none;
        }
    }
    .nav-logo__fav {
        height: 50px;
        @include screen--desktop {
            display: none;
        }
    }
}
