.home-page {
    .intro-section {
        margin: 96px 0;
        text-align: center;

        .intro-section__heading {
            margin-bottom: 40px;
            font-size: 28px;
        }
        .intro-section__sub-heading {
            font-size: 24px;
            line-height: 30px;
        }
    }
}
