@import 'base';
@import 'common';
@import 'navbar';
@import 'footer';
@import 'home-page';
@import 'reviews-home-page';
@import 'review-page';
@import 'static-pages';

* {
    scroll-behavior: smooth;
}

body {
    font-family: $gotham400;
    margin: 0;
}

img {
    max-width: 100%;
}

nav {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $gotham600;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: $blue-2;
    cursor: pointer;
    &.text-link {
        &:hover {
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }
    &.text-link--hover-green {
        color: black;
        &:hover {
            color: $primary-color;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }
    }
}

