@font-face {
    font-family: Gotham;
    src: url("../public/Gotham400.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gotham;
    src: url("../public/Gotham600.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: GothamBody;
    src: url("../public/GothamBody.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: GothamDisplay;
    src: url("../public/GothamDisplay.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
