@use 'base';

* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

nav {
    width: 100%;
}

body {
    //padding: 8px 16px;
    //font-family: GothamBody;
}

h1 {
    font-size: 72px;
    //font-family: Gotham;
}

.uppercase-button {
    font-family: Gotham;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #008255;
    color: white;
    padding: 8px 16px;
    margin-bottom: 30px;
    letter-spacing: 0.0625em;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.banner {
    margin-bottom: 32px;
}

@media only screen and (max-width : 575px) {
    .content {
        margin: 0px 24px;
    }

    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width : 576px) {
    .content {
        padding: 40px 40px;
    }

    .hide-desktop {
        display: none;
    }
}

